body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', SF Pro text, PingFang SC, Helvetica, Helvetica Neue, MiSans, HarmonyOSHans, Segoe UI, Arial, Microsoft YaHei, sans-serif, "\5B8B\4F53";
    color: #FAFAFA;
    background-image: url(https://cdn-community.codemao.cn/47/community/d2ViXzMwMDFfMTExNzIyOF82ODUxMDlfMTcxMjkzOTA3NTgzM19jZjRkOTEyMQ.jpeg);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
}

.nickname {
    text-align: center;
    font-weight: lighter;
}

.p-intro {
    text-align: center;
    opacity: 0.6;
}

.nav {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .options {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    text-align: center;
    color: #FAFAFA;
}

.board {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #FAFAFA;
    opacity: 0.6;
    padding: 8px;
}

.board .title {
    color: #000;
    opacity: 0.8;
}

.board .title h3 {
    margin: 0;
}

.board .article {
    color: #000;
    opacity: 0.6;
}

.board {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.article {
    overflow-y: hidden;
    height: calc(3 * 1.2em);
    position: relative;
}

.article p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(transparent, white);
}

.article::-webkit-scrollbar {
    width: 8px;
}

.article::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.article::-webkit-scrollbar-track {
    background-color: #ddd;
}

.board p {
    margin: 0;
}

.board p a {
    color: #3d61ff;
    text-decoration: none;
}

.author {
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.6;
}